<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Join</title>
</head>
<body>
    <h5 style="float: left; color:green">다중결합을 위한 페이지입니다.</h5>
    <div>
        <form action="{% url 'multijoin' %}" method="post">
            {% csrf_token %}
            <p> table name: </p>
            <textarea name="tablename" id="tablename" rows="1"></textarea>
            <input type="submit" value="검색">
        </form>
    </div>
    <div>
        <table>
            <tbody>
                {% for data in data_set %}
                <tr>
                    {% for i in data %}
                    <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>