{% extends 'index.html' %}
{% block content %}
    <head>
        <style>
            th, td {
            border: 1px solid #444444;
            }
        </style>
    </head>
    <div class='container-fluid'>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">테이블A</th>
          <th scope="col">테이블A 레코드수</th>
          <th scope="col">결합키 속성A</th>
          <th scope="col">테이블B</th>
            <th scope="col">테이블B 레코드수</th>
            <th scope="col">결합키 속성B</th>
            <th scope="col">대표 결합키</th>
            <th scope="col">결과 레코드수</th>
            <th scope="col">W1</th>
            <th scope="col">W2</th>
            <th scope="col">결합 진행상황</th>
            <th scope="col">결합 테이블명</th>
        </tr>
      </thead>
      <tbody>
            <tr>{{ table_1 }}</tr>
            <tr>{{ table_1_records }}</tr>
            <tr>key</tr>
            <tr>{{ table_2 }}</tr>
            <tr>{{ table_2_records }}</tr>
            <tr>key</tr>
            <tr>representative key</tr>
            <tr>{{ joined_records }}</tr>
            <tr>w1</tr>
            <tr>w2</tr>
            <tr>progress</tr>
            <tr>table name</tr>
      </tbody>
  </table>
    <div>

    </div>
    </div>
{% endblock %}
